/* 

      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  overflow-x: hidden;
}

body {
  background-color: transparent;
  font-family: "Kumbh Sans", sans-serif;
  color: #333950;

  margin: auto;

  overflow-x: hidden;
}

header {
  margin-bottom: -9.6rem;
}

.top-container,
.container {
  margin: 8rem auto 0;
  max-width: 120rem;
}

.logo {
  margin-bottom: 9.6rem;
}

h1 {
  font-size: 5.6rem;
  margin-bottom: 2.4rem;
}

.medium-texts {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.small-texts {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.normal-btn {
  border-radius: 10rem;
  padding: 1.2rem 4.8rem;
  border: none;
  margin-top: 3.2rem;
}

.animate {
  display: flex;
}

.sign-up__timer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #c5cef1;
  padding: 1.6rem;
  border-radius: 1.2rem;
  color: #5175ff;
  margin-top: 4.4rem;
}

.home-timer {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #333950;
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.home-timer h1,
.sign-up__timer h1 {
  margin-bottom: 0;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.icon:hover {
  cursor: pointer;
}

li.icon img {
  height: 80%;
  align-self: center;
}

.icon-arrow {
  filter: invert(34%) sepia(96%) saturate(1166%) hue-rotate(212deg)
    brightness(103%) contrast(101%);

  width: 1.8rem;
  height: 1.8rem;
}

.error-text {
  color: red;

  display: flex;
  justify-content: space-between;
}

button:hover {
  cursor: pointer;
}
/*****************************/
/* BELOW 1200PX */
/*****************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/*****************************/
/* BELOW 1080PX */
/*****************************/
@media (max-width: 68em) {
  html {
    font-size: 50%;
  }
}

/*****************************/
/* BELOW 985PX */
/*****************************/
@media (max-width: 62em) {
  .top-container,
  .container {
    max-width: 90rem;
  }

  .sign-up__timer {
    justify-content: center;
  }
}

/*****************************/
/* BELOW 600PX */
/*****************************/
@media (max-width: 38em) {
  html {
    font-size: 43.75%;
  }

  .top-container,
  .container {
    padding: 2.4rem;
  }
}

/*****************************/
/* BELOW 500PX */
/*****************************/
@media (max-width: 32em) {
  .logo {
    text-align: center;
  }
}
